.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    border-bottom: 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.container {
    width: 800px;
    margin:auto;

}

.header {
    padding: 10px;
}

.header ul li {
    display: inline-block;
    margin-top: 50px;
}